/* Google Font */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

.title {
    font-size: 30px;
    font-style: italic;

    margin: 0px auto 50px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_string:hover {
    color: #2478FF;
    cursor: pointer;
}

.search{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 250px 100px;
}

#search_entry {
    font-size: 15px;

    border-color: rgba(216, 216, 216, 0.2);
    border-radius: 10px;

    outline-color: rgba(216, 216, 216, 0.4);
}

#search_button {
    font-size: 20px;
    color: white;

    margin-left: 10px;

    background-color: #2478FF;
    border-color: transparent;
    border-radius: 10px;
}

#search_button:hover {
    background-color: #0B47B8;
    cursor: pointer;
}

/* ! */

.card {
    width: 300px;

    padding: 10px 10px 10px 10px;
    margin: 0px 10px 20px 10px;

    background-color: #2478FF;
    border-radius: 20px;
}

.card:hover {
    background-color: #0B47B8;
    cursor: pointer;
}

.cards {
    color: white;

    display: inline-flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.card_body {
    padding: 0px 20px 0px 20px;
}

.rank{
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
}

.card_title{
    font-size: 20px;
    font-style: italic;
}

.vote_average {
    font-size: 15px;
    color: yellow;
}

.overview {
    font-size: 15px;
}

.poster_path {
    border-radius: 20px;
}

.divider {
    width: 100px;

    margin-bottom: 20px;

    border: none;
    border-top: 2px solid black;
}

.footer {
    font-size: 15px;
    font-weight: bold;

    margin: 30px auto 50px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
